*~
*.pyc
.*.sw?
.project
.pydevproject
/docs_build/
_build
/docs_output/
/releng/
.idea
.coverage
cover
coverage.xml
nosetests.xml
functest-kubernetes.egg-info
*venv
.tox
*.egg-info
*.out
*.pdf
#/sylva/build
/sylva/image/etc/kubeconfig
/sylva/image/stack-validation/config.json
/sylva/image/stack-validation/k8s/
/sylva/image/stack-validation/requirements.txt
/sylva/image/stack-validation/validate.py
__pycache__/
